.profileName {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.buttonS {
  display: flex;
  gap: 10px;
}

.deleteButton {
  background-color: #969696 !important;
}
.profileInfo h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.profileInfo p {
  margin: 5px 0 0;
  color: #666;
  font-size: 15px;
}

.mainContent {
  display: flex;
  gap: 15px;
}

.questionItem {
  margin: 20px;
}

.popupContent h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ec744a;
}

.popupContent p {
  font-size: 15px;
  margin-bottom: 8px;
}

.popupContent ul {
  list-style-type: none;
  padding: 0;
}

.readOnlyCheckboxList {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 15px;
}

.readOnlyCheckboxList li {
  display: flex;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  gap: 5px;
}

.surveyQuestion {
  padding-left: 10px;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftProfile {
  flex: 65%;
  display: flex;
  flex-direction: column;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionTitle {
  font-size: 15px;
  color: #888;
}

:global(.ant-descriptions-item-label) {
  color: #e74104 !important;
  font-weight: bold;
}

.changeInfo {
  display: flex;
  justify-content: flex-end;
}

:global(.ant-rate-star-full) {
  color: #08509f !important;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  position: relative;
  max-height: 90%;
  overflow-y: scroll;
}

.popupContent::-webkit-scrollbar {
  display: none;
}

.closePopupButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.infoSurveyResult {
  margin-top: 20px;

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  th:first-child,
  td:first-child {
    width: 50%;
  }

  th:not(:first-child),
  td:not(:first-child) {
    width: 50%;
  }
}

.headerResult {
  margin-top: 20px;
  display: flex;
  gap: 20px;
justify-content: space-around;
}
