.modalTitle{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #51B748;
    margin-bottom: 15px;
}

.formGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGrid > div {
  display: flex;
  gap: 16px;
}

.imageUp {
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  margin-bottom: 16px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.editIcon {
  position: absolute;
  bottom: 0px;
  left: 55%;
  transform: translateX(-50%);
  background: rgb(0, 0, 0);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
}

.hiddenInput {
  display: none;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.required {
    color: red;
    margin-left: 4px;
    font-weight: bold;
  }
label{
  font-weight: bold;
}

.fullWidth {
  width: 100%;
  gap: 4px !important;
}

.inputField {
  width: 100%;
  border: 1px solid #ec744a;
  border-radius: 4px;
  padding: 4px;
  background-color: #ffffffff;
  color: #000;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.inputField:focus {
  color: black;
  background-color: #f5efed;
}

.customModal {
  max-width: 800px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.saveButton {
    background-color: #08509F !important; 
    color: white !important; 
    border: none !important; 
    padding: 8px 16px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: #3e8feb !important; 
  }
  
:global(.ant-select-selector) {
  width: 100%;
  border: 1px solid #ec744a;
  border-radius: 4px;
  padding: 4px;
}
:global(.ant-select-selection-item) {
  color: white;
  transition: color 0.3s ease;
}

:global(.ant-select-focused .ant-select-selection-item) {
  color: black !important;
}

.inputField[readonly] {
    background-color: #fcf3f0; 
    cursor: not-allowed; 
    color: #000000; 
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.errorText {
  color: red;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.shaking {
  animation: shake 0.3s ease-in-out 3;
}