.surveyContainer {
  max-width: 600px;
  margin: auto;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputField {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px; 
}

.questionsContainer {
  margin-top: 20px;
}

label {
  font-size: 18px; 
  font-weight: bold; 
}


.questionBlock {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.optionBlock {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 10px; 
}

.removeButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.addOptionButton,
.addQuestionButton {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.successMessage {
  margin-top: 10px;
  color: green;
  font-weight: bold;
  text-align: center;
}

.questionTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.questionForm {
  display: flex;
  align-items: center;
  justify-content: space-between; /* căn chỉnh các phần tử trong questionForm */
  gap: 10px; /* khoảng cách giữa input và button */
}
