
.main_layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 20% !important;
  max-width: 30% !important;
  min-width: 20% !important;
  overflow-y: auto;
}

.main_content {
  flex: 1;
  margin: 16px;
  padding: 24px;
  overflow-y: auto;
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  -ms-overflow-style: none; 
}


.main_content::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}

.layout {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.main_layout {
  display: flex;
  flex: 1; 
  overflow: hidden; 
}
