.footer {
  text-align: center;
  border-top: 2px solid #E4E5E8;
  p {
    color: var(--Gray-900, #18191c);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 0;
  }
}
