.search-bar {
  display: flex;
  align-items: center; 
  gap: 10px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
}

.title {
  font-weight: bold;
  color: #ea580c;
  white-space: nowrap; 
}

.search-fields {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0px;
  padding: 0 3px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  width: 100%;
}

.search-field {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.search-input,
.ant-input,
.ant-select-selector {
  width: 100%;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  margin:5px;
  padding-top: 4px;
}

:global(.ant-select-selection-item) {
  color: black !important;
}



.ant-select-selector:focus,
.ant-select-selector:hover,
.ant-select-selector:active,
.ant-input:focus,
.ant-input:hover,
.ant-input:active {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.search-field:not(:first-child)::before {
  content: "|";
  position: absolute;
  left: -5px;
  color: #d1d5db;
  font-weight: bold;
  padding: 0 2px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  color: #9ca3af;
  font-size: 16px;
  margin: 10px;
}

/* Button */
.btn-view {
  background-color: #ec744a;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
  flex-shrink: 0;
  border: none !important;
}

/* Hover Button */
.btn-view:hover {
  background-color: #b65e39 !important; /* Màu xám cam nhẹ */
  border: none !important;
  box-shadow: none !important;
}

:global {
  .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
  }
}
