.manageProgramDetail {
  padding: 1.5rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 70rem;
  text-align: center;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #ec744a;
    margin-bottom: 1rem;
  }

  .image img {
    width: 30%;
    height: 30%;
  }
  

  .description {
    color: #000;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  .info {
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #4a4a4a;

    .infoItem {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        color: #0BA02C;
      }
    }
  }

  .ratingSection {
    margin-top: 1.5rem;

    h2 {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .stars {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      font-size: 1.5rem;
      color: #facc15;
    }

    .ratingCode {
      color: #6b7280;
      margin-top: 0.5rem;
      font-size: 1rem;
    }
  }
}
