.sectionTitle{
    margin-top: 15px;
    font-size: 15px;
    color: #888;
  }
  .message{
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 10px;
  }
  .userInfoContainer {
    white-space: pre-line;
  }
  
  .userName {
    font-weight: bold;
    font-size: 15px;
  }
  
  